<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script>
    function Handle_Submit() {
        let text = document.getElementById("rawrr").value
        if (text == ''){
            console.log("Its empty"); return
        }
        console.log(text)
    }
</script>
<body>
    <textarea id="rawrr" class="rawrr">generate an image of a cat</textarea>
    <button type="submit" onclick=Handle_Submit()>generate</button>
</body>
</html>